.container-options {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-type-payment {
    width: 228px;
    height: 228px;
    left: 260px;
    top: 233px;

    box-shadow: inset 5px 5px 6px rgba(255, 255, 255, 0.3), inset -5px -5px 6px rgba(0, 0, 0, 0.25);

    background: #25A0AF;
    border-radius: 10px;

    margin: 20px;

    cursor: pointer;
}

.container-cancel {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.button-cancel {
    width: 282px;
    height: 51px;
    left: 50px;
    top: 560px;
    
    box-shadow: inset 5px 5px 6px rgba(255, 255, 255, 0.25), inset -5px -5px 6px rgba(0, 0, 0, 0.2);

    background: #25A0AF;
    border-radius: 10px;

    margin: auto;
    margin-bottom: 20px;

    cursor: pointer;
}

.cancel-title {
    font-family: 'Inter';
    font-style: bold;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}